@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{ 
    background: radial-gradient(#4286f4, #373B44);
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover;
}